<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Форма обратной связи</title>
</head>

<body>
	<h1>Форма обратной связи</h1>
	<div class="form-box">

        {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ field.label }}: {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
          {% endif %}

		<form method="post"
			  enctype="multipart/form-data">
			{% csrf_token %}
            {% for field in form %}
			<div class="form-group row">
                <label
                  for="{{ field.id_for_label }}"
                  class="col-md-4 col-form-label text-md-right">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required">*</span>
                  {% endif %}
                </label>
                <div class="col-md-6">
                  {{ field }}
                  {% if field.help_text %}
                    <small
                      id="{{ field.id_for_label }}-help"
                      class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
			<div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                {% block button %}
                  Отправить
                {% endblock %}
              </button>
            </div>
		</form>
	</div>
</body>

</html>
